/Autoaibe/packages.config
/Autoaibe/bin/Debug/Autoaibe.dll
/Autoaibe/bin/Debug/Autoaibe.pdb
/Autoaibe/bin/Debug/chromedriver.exe
/Autoaibe/bin/Debug/geckodriver.exe
/Autoaibe/bin/Debug/nunit.engine.api.dll
/Autoaibe/bin/Debug/nunit.engine.core.dll
/Autoaibe/bin/Debug/nunit.engine.dll
/Autoaibe/bin/Debug/nunit.framework.dll
/Autoaibe/bin/Debug/nunit.framework.pdb
/Autoaibe/bin/Debug/nunit.framework.xml
/Autoaibe/bin/Debug/nunit_random_seed.tmp
/Autoaibe/bin/Debug/NUnit3.TestAdapter.dll
/Autoaibe/bin/Debug/NUnit3.TestAdapter.pdb
/Autoaibe/bin/Debug/WebDriver.dll
/Autoaibe/bin/Debug/WebDriver.Support.dll
/Autoaibe/bin/Debug/WebDriver.Support.xml
/Autoaibe/bin/Debug/WebDriver.xml
/Autoaibe/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Autoaibe/obj/Debug/Autoaibe.csproj.CopyComplete
/Autoaibe/obj/Debug/Autoaibe.csproj.CoreCompileInputs.cache
/Autoaibe/obj/Debug/Autoaibe.csproj.FileListAbsolute.txt
/Autoaibe/obj/Debug/Autoaibe.csprojAssemblyReference.cache
/Autoaibe/obj/Debug/Autoaibe.dll
/Autoaibe/obj/Debug/Autoaibe.pdb
/Autoaibe/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/packages/NUnit.3.12.0/.signature.p7s
/packages/NUnit.3.12.0/build/NUnit.props
/packages/NUnit.3.12.0/CHANGES.md
/packages/NUnit.3.12.0/lib/net35/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net35/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net35/nunit.framework.xml
/packages/NUnit.3.12.0/lib/net40/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net40/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net40/nunit.framework.xml
/packages/NUnit.3.12.0/lib/net45/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net45/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net45/nunit.framework.xml
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.dll
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.xml
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.dll
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.xml
/packages/NUnit.3.12.0/LICENSE.txt
/packages/NUnit.3.12.0/NOTICES.txt
/packages/NUnit.3.12.0/NUnit.3.12.0.nupkg
/packages/NUnit3TestAdapter.3.17.0/.signature.p7s
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.core.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.core.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.17.0/LICENSE.txt
/packages/NUnit3TestAdapter.3.17.0/NUnit3TestAdapter.3.17.0.nupkg
/packages/Selenium.Firefox.WebDriver.0.27.0/.signature.p7s
/packages/Selenium.Firefox.WebDriver.0.27.0/build/Selenium.Firefox.WebDriver.targets
/packages/Selenium.Firefox.WebDriver.0.27.0/driver/geckodriver.exe
/packages/Selenium.Firefox.WebDriver.0.27.0/Selenium.Firefox.WebDriver.0.27.0.nupkg
/packages/Selenium.Support.3.141.0/.signature.p7s
/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/Selenium.Support.3.141.0.nupkg
/packages/Selenium.WebDriver.3.141.0/.signature.p7s
/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/Selenium.WebDriver.3.141.0.nupkg
/packages/Selenium.WebDriver.ChromeDriver.87.0.4280.2000/.signature.p7s
/packages/Selenium.WebDriver.ChromeDriver.87.0.4280.2000/build/DefinePropertiesChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.87.0.4280.2000/build/Selenium.WebDriver.ChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.87.0.4280.2000/driver/linux64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.87.0.4280.2000/driver/mac64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.87.0.4280.2000/driver/win32/chromedriver.exe
/packages/Selenium.WebDriver.ChromeDriver.87.0.4280.2000/nupkg-icon.png
/packages/Selenium.WebDriver.ChromeDriver.87.0.4280.2000/Selenium.WebDriver.ChromeDriver.87.0.4280.2000.nupkg
